@import "normalize"

*
  box-sizing: border-box
  list-style-type: none
  text-decoration: none

body
  padding: 0
  margin: 0 auto

ul
  padding-left: 0
  margin: 0

body
  background: whitesmoke

#app
  position: relative
  margin: 0 auto
  max-width: 1920px
  // width: 90%

.slider
  background: #000
  height: 100vh
  max-height: 1080px
  display: flex
  flex-flow: row nowrap
  overflow: hidden

.btns
  width: 20%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  color: whitesmoke
  position: absolute
  bottom: 0
  font-size: 20px
  cursor: pointer
  transition: all 0.5s
  opacity: 0
  &:hover
    opacity: 0.9

.next
  background: linear-gradient(to left, rgba(black, 0.6) 10%, rgba(black, 0))
  right: 0

.prev
  background: linear-gradient(to right, rgba(black, 0.6) 10%, rgba(black, 0))
  left: 0

.pics
  flex: 1 0 auto
  width: 100%
  height: 100%
  transition: transform 1.5s ease
  display: flex
  align-items: center
  img
    display: block
    width: 100%
    height: auto
